
:root {
    --primary-text-color: #2E2F42;
    --link-color: #434455;
    --logo-btn-color: #4D5AE5;
    --hover-focus-color: #404BBF;
    --footlogo-bcg-color: #F4F4FD;
    --white-color: #ffffff;
    --filter-btn: #E7E9FC;
    --footer-color:#31D0AA;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
    }
  }

.point {
    text-decoration: none;
    list-style-type: none;
}


.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
}

.header {
    border-bottom: 1px solid var(--filter-btn);
}

.header-div {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav,
    .contact {
      display: none;
    }
}

@media screen and (min-width: 768px) {
    .mob-btn {
      display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.mob-menu {
    margin-bottom: 284px;
  }

.mob-menu a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.mob-menu a:hover,
.mob-menu a:focus {
    color: var(--hover-focus-color);
}

.mob-menu a.current {
    color: var(--hover-focus-color);
  }

.mob-menu a:not(:last-child) {
    margin-bottom: 40px;
}

.mob-contacts-tel {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    color: var(--primary-text-color);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-email-contacts {
    margin-bottom: 48px;
}

.mob-contacts-email {
    font-size: 20px;
    line-height: 1.11;
    font-weight: 500;
    color: var(--primary-text-color);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-email:hover,
.mob-contacts-email:focus {
    color: var(--hover-focus-color);
}

.mob-contacts-item {
    margin-bottom: 40px;
  }

.mob-list {
    display: flex;
    gap: 56px;
}

.mob-list-item {
    width: 40px;
    height: 40px;
}

.mob-link-list {
    width: 40px;
    height: 40px;
}

.mob-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-btn-color);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.mob-link-icon {
fill: var(--footlogo-bcg-color);
}

.menu-link {
    font-weight: 500;
    line-height: 2;
    color: var(--primary-text-color);
    display: block;
    padding: 24px 0;
    margin-right: 40px;
    position: relative;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .logo {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .nav {
      display: flex;
      align-items: center;
    }
  
    .menu-list {
      display: flex;
      gap: 40px;
    }
  
    .menu-link {
      display: block;
      padding-top: 24px;
      padding-bottom: 22px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--primary-text-color);
      transition-duration: 250ms;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .menu-link:hover,
    .menu-link:focus {
      color: var(--hover-focus-color);
    }
  
    .menu-link.current {
      position: relative;
      color: var(--hover-focus-color);
    }
  
    .menu-link.current::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background-color: var(--hover-focus-color);
      border-radius: 1px;
    }
  
    .contact {
      display: block;
      margin-left: auto;
    }
  
    .contact-list {
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--link-color);
    }
  
    .contact-link {
      font-style: normal;
  
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-decoration: none;
      color: var(--primary-text-color);
    }
  
    .contact-link:hover,
    .contact-link:focus {
      color: var(--hover-focus-color);
    }
  
    .contact-items {
      margin-right: 40px;
    }
  
    .contact-items:not(:last-child) {
      margin-bottom: 6px;
    }
}

.header-logo {
    color: var(--primary-text-color);
}

.menu-list {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    gap: 40px;
}

.wrapper-btn {
    color: var(--primary-text-color);
    display: flex;
    margin-left: 40px;
}

.current {
    position: relative;
    color: var(--hover-focus-color);
}

.menu-link.current::after {
    position: absolute;
    bottom: 0px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--hover-focus-color);
}

.footer-logo {
    color: var(--footlogo-bcg-color)
}


.menu-link:hover,
.menu-link:focus {
    color: var(--hover-focus-color);
}

.contact {
    margin-left: auto;
}

.contact-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    display: flex;
    gap: 40px;
}


.contact-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.contact-link {
    font-style: normal;
    color: var(--link-color);
    display: block;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}

@media screen and (min-width: 768px) {
    .menu-container {
      display: none;
    }
    .menu-list {
      display: flex;
      gap: 40px px;
      margin-left: 120px;
    }
    .menu-link {
      margin-right: 0;
    }
    .contacts-link {
      font-style: normal;
    }
}
  
@media screen and (min-width: 1200px) {
    .contact {
      margin-left: auto;
    }
    .contact-list {
      color: var(--link-color);        
      line-height: 1.5;
      letter-spacing: 0.02em;
      display: flex;
    }
    .contact-link {
      font-style: normal;
      color: var(--link-color);
      display: block;
      transition-duration: 250ms;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .contact-items {
      margin-right: 40px;
    }
}

  .mob-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    margin-left: auto;
    background-color: transparent;
    width: 32px;
    height: 22px;
    border: none;
    padding: 0;
  }

.hero {
    background-color: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/people-office_desk@1x.jpg);
    max-width: 1440px;
    max-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 48px;
    max-width: 496px;    
    margin-left: auto;
    margin-right: auto;

}

.hero-btn {
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-property: background, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    letter-spacing: 0.04em;
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
}

.text-photos {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.quality-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.quality-item {
    flex-basis: calc((100% - 3 * 24px)/4);
}

.quality-title {
    margin-bottom: 8px;
}

.photos {
    padding-top: 0;
}

.photo-list {
    display: flex;
    gap: 24px;
}

.team-photo {
    background-color: var(--footlogo-bcg-color);
}

.team-item {
    background-color: var(--white-color);
    flex-basis: calc((100%-72px)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;;
}

.team-img-list {
    display: flex;
    gap: 24px;
}


.text-photos {
    margin-top: 0px;
}

.card-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-contacts {
    width: 40px;
    height: 40px;
    padding-left: 0;
}

.team-contacts-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 8px;
}

.team-contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--logo-btn-color);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-link:hover,
.team-contacts-link:focus {
    background-color: var(--hover-focus-color);
}

.team-contacts-icon {
    fill: var(--white-color);
}


.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--footlogo-bcg-color);
    fill: currentColor;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
}

.customers-items {
    flex-basis: calc((100% - 24px) / 5);

}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    color: #8E8F99;
    transition-duration: 250ms;
    transition-property: color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--hover-focus-color);
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color);
}

.customers-link:focus svg {
    fill: var(--hover-focus-color);
}

.customers-svg {
    fill: currentColor;
}

/* footer */

.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}

.foot-net-link {
    justify-content: center;
    margin-right: 80px;
}

.cont-footer {
    display: flex;
}

.con-foot {
    margin-right: 120px;
}

.net-text {
    color: var(--white-color);
    margin-bottom: 20px;
}

.foot-list {
    display: flex;
    gap: 20px;
    float: left;
}

.foot-net {
    color: var(--white-color);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    list-style: none;
    float: left;
}



.foot-net:last-child {
    margin-right: 0;
}

.social-link {
    display: flex;
    fill: var(--white-color);
    background-color: var(--link-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--footer-color)
}

.footer-sub {
    justify-content: center;
    display: block;
}


.sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;    
    color: var(--white-color);
}


.sub-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sub-email {
    margin-right: 24px;
    width: 264px;
}

.email-input {
    width: 100%;
    padding: 7px 16px;
    color: var(--white-color);
    line-height: 1.5;
    background-color: var(--title-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.email-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6); 
}

.sub-btn {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    min-width: 165px;
    padding: 8px 24px;
    background-color: var(--hover-focus-color);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
}

.sub-btn:hover,
.sub-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    letter-spacing: 0.04em;
}


/* porfolio */

.btn-point {
    background-color: var(--footlogo-bcg-color);
    color: var(--logo-btn-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--filter-btn);
    border-radius: 4px;
    padding: 11px 23px;
    transition-duration: 250ms;
    transition-property: background, color, border-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-point:hover,
.btn-point:focus {
    background-color: var(--logo-btn-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--white-color);
}

.portfolio {
    padding-top: 96px;
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.bth-item {
    margin-right: 24px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bth-item:hover,
.bth-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-img {
    display: block;
    min-width: 100%;
    height: auto;
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.port-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms linear;
    background-color: hsla(235, 75%, 60%, 0.95);
    font-size: 20px;
    color: var(--white-color);
    padding-top: 40px;
    padding-left: 50px;
}

.port {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-links {
    display: block;
    flex-basis: calc((100% - 48px) / 3);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-links:hover .port-text,
.portfolio-links:focus .port-text {
    transform: translate(0, 0);
}

.delineation {
    padding: 32px 16px;
    border: 1px solid var(--filter-btn);
    border-top: none;
}

/*footer portfolio*/

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
}

/*modal*/

.modal-form {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-close-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal {
    background: #FCFCFC;
    width: 408px;
    min-height: 576px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-title {
    display: block;
    text-align: center;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;  
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.form-win {
    display: block;
}

.form-win+.form-win {
    margin-top: 8px;
}

.form-input {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.form-input.modal-name {
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.input-wrapper {
    position: relative;
    display: block;
    fill: var(--primary-text-color);
}

.input-wrapper:focus+.input-wrapper {
    fill: var(--hover-focus-color);
}


.input-modal {
    padding-left: 38px;
    padding-right: 38px;
    font-size: 14px;
    line-height: 1.5;
    height: 40px;
}

.input-modal, .form-message {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--transition-dur-and-func);
}

.input-modal:focus,
.form-message:focus {
    border: 1px solid var(--logo-btn-color);
    outline: transparent;
}

.input-modal:focus+.modal-icon {
    fill: var(--logo-btn-color);
}

.form-text {
    display: block;
    height: 120px;
    width: 360px;
    padding: 8px 16px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    line-height: 1.5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill var(--transition-dur-and-func);
}

.modal-icon input:focus {
    color: var(--hover-focus-color);
}

.modal-check-hid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
    opacity: 0;
}


.form-check:checked+.visual-hidden>.check-icon {
    opacity: 1;
}

.form-check:checked+.visual-hidden {
    border-color: var(--hover-focus-color);
    background-color: var(--hover-focus-color);
    fill: var(--white-color);
    transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-win {
    display: block; 
}

.form-win + .form-win {
    margin-top: 8px;
}

.form-check:focus+.modal-check {
    border-color: var(--hover-focus-color);
}

.policy-link {
    color: var(--logo-btn-color);
}

.send-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    background: var(--hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
}

.modal-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--primary-text-color);
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.form-check {
    background-color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);
}

.form-check:checked+.modal-check { 
    background-color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);  
} 

.form-modal-check {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;}


