
:root {
    --primary-text-color: #2E2F42;
    --link-color: #434455;
    --logo-btn-color: #4D5AE5;
    --hover-focus-color: #404BBF;
    --footlogo-bcg-color: #F4F4FD;
    --white-color: #ffffff;
    --filter-btn: #E7E9FC;
    --footer-color:#31D0AA;
}


body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.point {
    text-decoration: none;
    list-style-type: none;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
}

.header {
    border-bottom: 1px solid var(--filter-btn);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-div {
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
}

.menu-link {
    line-height: 2;
    color: var(--primary-text-color);
}

.header-logo {
    color: var(--primary-text-color);
}

.menu-list {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    gap: 40px;
}

.wrapper-btn {
    color: var(--primary-text-color);
    display: flex;
    margin-left: 40px;
}

.footer-logo {
    color: var(--footlogo-bcg-color)
}


.menu-link:hover,
.menu-link:focus {
    color: var(--hover-focus-color);
}

.contact {
    margin-left: auto;
}

.contact-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    display: flex;
    gap: 40px;
}


.contact-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.contact-link {
    font-style: normal;
    color: var(--link-color);
    display: block;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}


.hero {
    background-color: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    max-width: 1440px;
    max-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 48px;
    max-width: 496px;    
    margin-left: auto;
    margin-right: auto;

}

.hero-btn {
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border: none;

}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--hover-focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    letter-spacing: 0.04em;

}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
}

.text-photos {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.quality-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.quality-item {
    flex-basis: calc((100% - 3 * 24px)/4);
}

.quality-title {
    margin-bottom: 8px;
}

.photos {
    padding-top: 0;
}

.photo-list {
    display: flex;
    gap: 24px;
}

.team-photo {
    background-color: var(--footlogo-bcg-color);
}

.team-item {
    background-color: var(--white-color);
    flex-basis: calc((100% - 72px)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08) rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;;
}

.team-img-list {
    display: flex;
    gap: 24px;
}


.text-photos {
    margin-top: 0px;
}

.card-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-contacts {
    width: 40px;
    height: 40px;
    padding-left: 0;
}

.team-contacts-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 8px;
}

.team-contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--logo-btn-color);
    border-radius: 50%;
}

.team-contacts-link:hover,
.team-contacts-link:focus {
    background-color: var(--hover-focus-color);
}

.team-contacts-icon {
    fill: var(--white-color);
}


.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--footlogo-bcg-color);
    fill: currentColor;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
}

.customers-items {
    flex-basis: calc((100% - 24px) / 5);

}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    color: #8E8F99;
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--hover-focus-color);
    border-color: var(--hover-focus-color);
    color: var(--hover-focus-color);
}

.customers-link:focus svg {
    fill: var(--hover-focus-color);
}

.customers-svg {
    fill: #8e8f99;
}

.customers-svg:hover,
.customers-svg:focus {
    fill: var(--hover-focus-color);
}
/* footer */

.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
}

.foot-net-link {
    justify-content: center;
}

.cont-footer {
    display: flex;
    gap: 120px;
}

.con-foot {
    margin-left: 156px;
}

.net-text {
    color: var(--white-color);
    margin-bottom: 20px;
}

.foot-list {
    display: flex;
    gap: 20px;
    float: left;
}

.foot-net {
    color: var(--white-color);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    list-style: none;
    float: left;
}



.foot-net:last-child {
    margin-right: 0;
}

.social-link {
    display: flex;
    fill: var(--white-color);
    background-color: var(--link-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--footer-color)
}


/* porfolio */

.btn-point {
    background-color: var(--footlogo-bcg-color);
    color: var(--logo-btn-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--filter-btn);
    border-radius: 4px;
    padding: 11px 23px;
}

.btn-point:hover,
.btn-point:focus {
    background: var(--logo-btn-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--white-color);
}

.portfolio {
    padding-top: 96px;
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.bth-item {
    margin-right: 24px;
}

.bth-item:hover,
.bth-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-links {
    display: block;
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.delineation {
    padding: 32px 16px;
    border: 1px solid var(--filter-btn);
    border-top: none;
}

/*footer portfolio*/

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-btn-color);
    text-transform: uppercase;
}



